* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    position: relative;
    width: 100%;
    min-height: 100vh;
}


video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.content {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    background-color: rgba(0, 128, 0, 0.066);
}

.logo img {
    width: 10vmin;
    height: 7vmin;
    cursor: pointer;
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: rgb(202, 236, 202);
}

ul  {
    position: relative;
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style-type: none;
    padding-right: 2rem;

}


    

a:hover {
    color: #fff;
}


.main-content {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10rem;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 10rem;
} 


.image-logo img {
    opacity: 0.6;
    height: 50vmin; 
    width: 80vmin;
} 



.info {
    color: white;

}

.name {
    font-size: 10vmin;
}

.role {
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 5vmin;
}



.resume {
    margin-top: 0.8rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(to bottom right, rgb(5, 77, 5), rgb(78, 170, 92));
    cursor: pointer;
    font-size: 3vmin;
    color: #fff;


    transition: transform 0.6s ease, box-shadow 0.6s ease ;
}

.resume:hover {
    transform: translateY(-3px);
    box-shadow: rgb(177, 209, 177) 0px 0px 7px 2px ;

}

/* .icon  {
    color: white;
    position: relative;
    display: none;
} */

.introduction {
    width: 35rem;
    padding-top: 2rem
}

.quote {
    font-size: 2rem;
    background: linear-gradient(to right, rgb(0, 152, 0), white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.social-icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin-top: 1rem;
}

.linkicon , .github-icon, .facebook-icon, .e-mail{
    cursor: pointer;
    color: rgb(194, 236, 186);
    font-size: 1.6rem;
}


.linkicon:hover, .github-icon:hover, .facebook-icon:hover, .e-mail:hover {
    color: white;
    transform: scale(1.1);
}



.heading-one {
    text-align: center;
} 


.about-section {
  position: relative;
  color: white;
  padding: 0.3rem 4rem;
}

.about-logo img {
    width: 40vmin;
    height: 40vmin;
}

.info-about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.github-logo img {
    height: 8rem;
    width: 15rem;
    /* position: relative; */
}

.logo-icon {
    transform: rotate(20deg);
}

.react-logo img {
    height: 16vmin;


    width: 21vmin;
    position: absolute;
    bottom: 0;
    top: 29rem;
    right: 20rem;
    display: flex;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.projects-section {
   position: relative;
   color: white;
   margin-top: 11rem;
}

.heading {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.header-image img {
    width: 2rem;
    height: 2rem;
}

.first-image img, .second-image img, .third-image img{
    width: 65vmin;
    height: 40vmin;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: rgb(227, 235, 227) 0px 0px 17px 4px;
    transition: transform 0.23s ease;
    box-shadow: white 0px 0px 10px 1px;
    
}


.third-image img:hover, .first-image img:hover, .second-image img:hover {
    transform: translateY(-5px);
}

.battleship, .create-post, .memory-game {
    background: linear-gradient(to bottom right, green, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-projects {
     margin-top: 4rem;
}   

.third-project , .second-project, .first-project {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.first-project {
    padding-top: 5rem;
}


.about-project {
    width: 23rem;
    text-align: start;
}

.project-info {
    margin-top: 0.5rem;
    
}

.links-of-github {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.7rem;
    border: 1px solid rgb(156, 229, 156);
    padding: 0.4rem 1rem;
    /* width: 20vmin; */
    border-radius: 0.5rem;
    box-shadow: green 0px 0px 5px 1px;
    cursor: pointer;
}

.links-of-github:hover {
    /* transform: translateY(-3px); */
    transform: scale(1.1);
    
}

.battleship, .create-post, .memory-game {
    cursor: pointer;
    transition: all 0.3s ease;
}

.battleship:hover, .create-post:hover, .memory-game:hover {
    transform: translateY(-3px);
}

.skills-section {
    position: relative;
    color: white;
    margin-top: 5rem;
}

.skill-icon img {
    width: 2rem;
    height: 2rem;
}

.skills-header {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}


.my-skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 7rem 0rem;
}

.first-section, .second-section {
    width: 15rem;
}

.developer-tools, .soft-skills {
    margin-top: 4rem;
}

.lang, .frame-work, .soft , .develop{
    margin-top: 1rem;
}

.lang, .develop, .frame-work, .soft {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag-box {
   padding: 8px 18px;
   border: 1px solid #555;
   border-radius: 1.2rem;
   font-size: 0.8rem;
   
   
}

.heading3 {
    background: linear-gradient(to bottom right, green, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: green 0px 0px 3px;
    font-size: 1.3rem;
}



.brain-img img{
    width: 80vmin;
    height: 40vmin;
}


.contact-section {
    position: relative;
    color: white;
    margin-top: 14rem;
}

.contact-header {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.contact-img img {
    width: 2rem;
    height: 2rem;
}

.contact-image img{
    width: 65vmin;
    height: 50vmin;
}



.name-input, .email-input {
    margin-top: 0.5rem;
    background-color: transparent;
    width: 10rem;
    height: 1.9rem;
    width: 100%;
    border: none;
    border: 1px solid rgb(186, 198, 186);
    border-radius: 0.3rem;
    box-shadow: green 0px 0px 5px 1px;
    border: 1px solid rgb(156, 229, 156);  
   color: white;
   padding-left: 0.4rem;
}

.name-input:focus , .email-input:focus{
    height: 1.9rem;
    box-shadow: green 0px 0px 5px 1px;
    border: 1px solid rgb(156, 229, 156);  
    outline: none;
}


.main-contact {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem;

    align-items: center;
}

#type-mess {
    margin-top: 0.5rem;
    background-color: transparent;
    height: 6rem;
    width: 20rem;
    border: none;
    border: 1px solid rgb(186, 198, 186);
    border-radius: 0.3rem;
    box-shadow: green 0px 0px 5px 1px;
    border: 1px solid rgb(156, 229, 156);  
   color: white;
   padding-left: 0.4rem;
   resize: none;
   padding-top: 0.3rem;
}

#type-mess:focus {
    height: 6rem;
    box-shadow: green 0px 0px 5px 1px;
    border: 1px solid rgb(156, 229, 156);  
    outline: none;
}

.email-header, .message-header, 
.name-header  {
    display: flex;
    gap: 0.5rem;
}

.email-section, .message-section {
    margin-top: 1rem;
}

.send-mess {
    display: flex;
    margin-top: 1rem;
    padding: 0.4rem;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    background: linear-gradient(to bottom right , green , rgb(109, 200, 107));
    cursor: pointer;
    transition: all 0.3s ease;

}

.send-mess:hover {
    transform: translateY(-3px);
}



button {
    background-color: transparent;
    border: none;
    width: 20rem;
}


footer {
    position: relative;
    text-align: center;
}

.copyright {
    color:  rgb(68, 80, 68);
}

.s-logo {
    margin-top: 0.6rem;
}

.s-logo img {
    width: 3.5rem;
    height: 2.6rem;
    cursor: pointer;
    
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem;

}

.img {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10rem;
}

.go-to-top {
    display: flex;
    justify-content: center;
}

.to-top {
    position: absolute;
    border: 1px solid green;
    padding: 0.3rem;
    /* font-size: 0.6rem; */
    border-radius: 0.3rem;
    display: none;
    cursor: pointer;

}



.img:hover .to-top {
    display: block;
}


.menu {
    display: none;
}



@media  (max-width: 768px) {
    ul {
        display: none;
    }

    .react-logo img  {
        right: 3rem;
    }


    .main-contact {
        flex-direction: column;
    }

    .my-skills {
        flex-direction: column;
    }

    .first-project, .second-project, .third-project {
        flex-direction: column;
    }

    .about-project {
        text-align: center;
        margin-top: 1.5rem;
    }

.pro-img {
    display: flex;
    justify-content: center;
}

.project-info {
    font-size: 1.2rem;
    margin: 0.4rem 2rem
}


    .pro-ject {
        display: flex;
        justify-content: center;
    }
/* 
    .battleship {
        font-size: 1.3rem;
    }

    .project-info {
        font-size: 0.7rem;
        padding: 0rem 1rem;
    }  */
/* 
    .direct-link {
        font-size: 0.2vmin;
    } */

   .pro-links {
      display: flex;
      justify-content: center;
   }

   .info-about-me {
    flex-direction: column;
   }
    
   .about-logo img {
    width: 30vmin;
    height: 30vmin;
    margin-top: 0.8rem;
   }

   .introduction {
    width: 100%;
   }

   .info-about-me {
    margin-top: 3rem;
   }

   .main-projects {
    margin-top: 2rem;
   }

   .first-project {
    padding-top: 2rem;
   }


   
   .hamburger {
    cursor: pointer;
    z-index: 10;
}

.content {
    width: 100%;
}

.nav-links {
    text-align: start;
}

.nav-bar {
    display: flex;
    justify-content: center;

}

.menu {
    display: block;
    color: white;
}

.nav-links {
    display: none;
    /* margin-top: 0.5rem; */
}

.hamburger {
    font-size: 1.5rem;
}


.menu:hover .nav-links {
    position: absolute;
    display: block;
    color: white;
    cursor: pointer;
    text-align: center;

}





}


@media (min-width: 768px) and (max-width: 860px) {
    
    .first-project, .second-project, .third-project {
        flex-direction: column;
    }

    .about-project {
        text-align: center;
        margin-top: 1.5rem;
    }


    .pro-ject {
        display: flex;
        justify-content: center;
    }


   .pro-links {
      display: flex;
      justify-content: center;
   }

   .introduction {
    width: 24rem;
   }
}

@media (min-width: 768px) and (max-width: 1200px) {
    
    .my-skills {
        flex-direction: column;
    }

    .first-section, .second-section {
        display: flex;
        justify-content: space-around;
        width: 100%;

    }

    .lang , .develop, .frame-work, .soft{
        justify-content: center;
    }

    .brain-img img{
        width: 80vmin;
        height: 40vmin;
    }


    .languages, .developer-tools, .framework, .soft-skills {
        width: 40%;
        text-align: center;
    }


    .developer-tools, .soft-skills {
        margin-top: 0rem;
    }


    
}




@media (min-width: 601px) and (max-width: 940px) {
    .name {
        font-size: 4vmin;
    }

    .role {
        font-size: 2vmin;
    }

    .image-logo img{
        height: 40vmin;
        width: 50vmin;
    }
}


@media (max-width: 600px) {
    .main-content {
        position: relative;
    }

    .info {
        position: absolute;
        z-index: 10;
    }

.image-logo {
        position: relative;
        z-index: 1;
}
    
.linkicon:active , .github-icon:active, .facebook-icon:active, .email-icon:active{

    transform: scale(0.95);
} 


}